@model IEnumerable<EventDay.Models.Category>

@{
    ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>

<ul id="button">
    <li>@Html.ActionLink("Utwórz nową kategorię","Create")</li>
</ul>
<table>
    <tr>
        <th>
            Nazwa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
             <a  href="@Url.Action("Edit", new { id = item.CategoryId })" style="margin-right:10px;"><img class="pencil" src="@Url.Content("~/Content/pencil.png")" alt="Edytuj" height="20px" width="20px" /></a>
            
             <a  href="@Url.Action("Delete", new { id = item.CategoryId })"><img class="trash" src="@Url.Content("~/Content/trash.png")" alt="Usuń" height="20px" width="20px" /></a>
        </td>
    </tr>
}

</table>
