@model IEnumerable<EventDay.Models.Event>

@{
    ViewBag.Title = "Kalendarz";
}

<script src="/Scripts/Calendar.js" type="text/javascript"></script>

<script>
    var events = [];
    var usrName = "@HttpContext.Current.User.Identity.Name";
</script>

 @foreach (var item in Model) 
      {
    <script>
        var event = {
            EventId: '@Html.DisplayFor(modelItem => item.EventId)',
            CategoryId: '@Html.DisplayFor(modelItem => item.CategoryId)',
            AccessId: '@Html.DisplayFor(modelItem => item.AccessId)',
            RecruitmentId: '@Html.DisplayFor(modelItem => item.RecruitmentId)',
            Username: '@Html.DisplayFor(modelItem => item.Username)',
            Title: '@Html.DisplayFor(modelItem => item.Title)',
            Description: '@Html.DisplayFor(modelItem => item.Description)',
            Capacity: '@Html.DisplayFor(modelItem => item.Capacity)',
            Regulations: '@Html.DisplayFor(modelItem => item.Regulations)',
            ProfileImage: '@Html.DisplayFor(modelItem => item.ProfileImage)',
            Price: '@Html.DisplayFor(modelItem => item.Price)',
            ContactNumber: '@Html.DisplayFor(modelItem => item.ContactNumber)',
            ContactEmail: '@Html.DisplayFor(modelItem => item.ContactEmail)',
            Website: '@Html.DisplayFor(modelItem => item.Website)',
            DateCreated: '@Html.DisplayFor(modelItem => item.DateCreated)',
            DateBegin: '@Html.DisplayFor(modelItem => item.DateBegin)',
            DateEnd: '@Html.DisplayFor(modelItem => item.DateEnd)',
            HourBegin: '@Html.DisplayFor(modelItem => item.HourBegin)',
            HourEnd: '@Html.DisplayFor(modelItem => item.HourEnd)',
            DateBeginRegistation: '@Html.DisplayFor(modelItem => item.DateBeginRegistation)',
            HourBeginRegistration: '@Html.DisplayFor(modelItem => item.HourBeginRegistration)',
            DateEndRegistation: '@Html.DisplayFor(modelItem => item.DateEndRegistation)',
            HourEndRegistration: '@Html.DisplayFor(modelItem => item.HourEndRegistration)',
            City: '@Html.DisplayFor(modelItem => item.City)',
            Voivoweship: '@Html.DisplayFor(modelItem => item.Voivoweship)',
            Street: '@Html.DisplayFor(modelItem => item.Street)',
            HouseNumber: '@Html.DisplayFor(modelItem => item.HouseNumber)',
            ApartmentNumber: '@Html.DisplayFor(modelItem => item.ApartmentNumber)',
            ZipCode: '@Html.DisplayFor(modelItem => item.ZipCode)',
            Directions: '@Html.DisplayFor(modelItem => item.Directions)'
        };
        events[events.length] = event;
    </script>  
}   




 <div id="divKalendarz">
    <script type="text/javascript">
        var data = new Date();
        wyświetlKalendarz(data.getFullYear(), data.getMonth(), data.getDate(), 'divKalendarz', events);
    </script>
  </div>

<style>
    .eventOwner, .eventMember
    {
        border: 1px solid #999;
        filter: alpha(opacity=50);
        border-radius: 1em;
    }
    .eventOwner
    {
        //background: rgba(255, 0, 0, 0.5);
         background: rgba(118, 238, 0, 0.5);
    }
    .eventMember
    {
       
    }
</style>
