@model EventDay.Models.UserProfile
     <link href="../Content/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="../Content/bootstrap/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

@{
    ViewBag.Title = "Profil użytkownika - " + @Model.UserName;
}

<fieldset>
    <legend>Profil użytkownika: @Model.UserName</legend>

    <div class="display-label" style="font-weight: bold">Username:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label"  style="font-weight: bold">Typ konta:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountTypeId)
    </div>

    <div class="display-label" style="font-weight: bold">Imię:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label" style="font-weight: bold">Nazwisko:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="display-label" style="font-weight: bold">Płeć:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SexId)
    </div>

    <div class="display-label" style="font-weight: bold">Data urodzin:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>

    <div class="display-label" style="font-weight: bold">Zainteresowania:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Interest)
    </div>

    <div class="display-label" style="font-weight: bold">Województwo:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Voivodeship)
    </div>

    <div class="display-label" style="font-weight: bold">Miejscowość:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label" style="font-weight: bold">
        Zdjęcie profilowe:
    </div>

    <div class="display-label">
        Ostatnie Eventy // zdjecia z ostatnic eventow 
    </div>

</fieldset>
<ul class="list">
    <li>@Html.ActionLink("Pokaż eventy tego użytkownika", "ShowUserEvents", new { id=Model.UserId })</li>
    @if (User.Identity.IsAuthenticated && String.Compare(User.Identity.Name,Model.UserName,true) == 0) {
        <li>@Html.ActionLink("Edytuj", "Edit", new { id=Model.UserId })</li>

    }
    @if (User.Identity.IsAuthenticated && String.Compare(User.Identity.Name,Model.UserName,true) != 0) {
        <li>@Html.ActionLink("Dodaj kontakt", "AddContact", new { id=Model.UserId })</li>

    }
</ul>
