@model IEnumerable<EventDay.Models.UserProfile>

@{
    ViewBag.Title = "Użytkownicy";
}

<h2>Użytkownicy</h2>

<table>
    <tr>
        <th>
            UserName
        </th>
        <th>
            SexId
        </th>
        <th>
            Interest
        </th>
        <th>
            City
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SexId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.ActionLink("Usuń użytkownika", "Delete", new { id = item.UserId })
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id = item.UserId })
        </td>
    </tr>
}

</table>
