@model IEnumerable<EventDay.Models.UserProfile>

@{
    ViewBag.Title = "Użytkownicy";
}

<h2>Użytkownicy</h2>

<div class="table-responsive">
<table class="table table-hover ">
   <thead>
    <tr>
        <th>
            Nazwa użytkownika
        </th>
        <th>
            Płeć
        </th>
        <th>
            Zainteresowania
        </th>
        <th>
            Miejscowość
        </th>
        <th></th>

    </tr>
</thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
              @Html.ActionLink(item.UserName, "Details", new { id = item.UserId })
 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SexId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
                 <a  href="@Url.Action("Delete", new { id = item.UserId })"><img class="trash" src="@Url.Content("~/Content/trash.png")" alt="Usuń" height="20px" width="20px" /></a>
        </td>
 
    </tr>
}
</tbody>
</table>
</div>