@model IEnumerable<EventDay.Models.Event>

@{
    ViewBag.Title = "Eventy użytkownika";
}

<h2>Eventy użytkownika @ViewBag.UserName</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            DateBegin
        </th>
        <th>
            DateEnd
        </th>
        <th>
            City
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "EventDetails", new { id=item.EventId })
        </td>
    </tr>
}

</table>
