@model EventDay.Models.Event

@{
    ViewBag.Title = "Create";
}

<h2>Utwórz</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<!-- zasoby date time pickera (6 adnotacji)-->
<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker-bs3.css" /> 
<!-- Include script and style -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Datetimepicker.css")" />
<script type="text/javascript" src="@Url.Content("~/Scripts/Datetimepicker.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Main.js")"></script>

@using (Html.BeginForm("Create", "YourEvents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Event</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category.Name)<text style="color:red">*</text>
        </div>
        <div class="editor-field">
             @Html.DropDownListFor(model => model.CategoryId,(IEnumerable<SelectListItem>)ViewBag.eventCategory, "Wybierz kategorię", new { @class="form-control"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccessId)<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            <label>Widoczne</label>
            @Html.RadioButtonFor(model => model.AccessId, "Widoczne")
            <label>Ukryte</label>
            @Html.RadioButtonFor(model => model.AccessId, "Ukryte")           
            @Html.ValidationMessageFor(model => model.AccessId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecruitmentId)<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            <label>Wstęp wolny</label>
            @Html.RadioButtonFor(model => model.RecruitmentId, "Wolny")
            <label>Wstęp ograniczony</label>
            @Html.RadioButtonFor(model => model.RecruitmentId, "Ograniczony")
            @Html.ValidationMessageFor(model => model.RecruitmentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Capacity)<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capacity)
            @Html.ValidationMessageFor(model => model.Capacity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Regulations)
        </div>
        <div class="editor-field">
           <input type='file' name='fileRegulations' id='fileRegulations' />
        </div>

        <!--konstrukcja zastepuje input obrazkiem-->
        <div class="editor-field">
            <label for="fileProfileImage">
                <img src="../Content/no-img.png" id="img"/>
            </label>
            <input id="fileProfileImage" name='fileProfileImage' type="file" onchange="readURL(this,'img')" style="cursor: pointer;  display: none"/>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNumber)
            @Html.ValidationMessageFor(model => model.ContactNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactEmail)
            @Html.ValidationMessageFor(model => model.ContactEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HourBegin)/zakończenia wydarzenia<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            <input class="text-box single-line" id="HourBegin" name="HourBegin" type="text" value="00:00 01/01/2015 - 00:00 01/01/2015" onclick="datetimerange()" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HourBeginRegistration)/zakończenia rejestracji<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            <input class="text-box single-line" id="HourBeginRegistration" name="HourBeginRegistration" type="text" value="00:00 01/01/2015 - 00:00 01/01/2015" onclick="datetimerange()" />         
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ZipCode)<text style="color:red">*</text>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ZipCode)
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>

        <!--tu literowka do poprawienia na bazie Voivo(w)eship-->
        <div class="editor-label">
            @Html.LabelFor(model => model.Voivoweship)
        </div>
        <div class="editor-field">
             @Html.DropDownListFor(model => model.Voivoweship,(IEnumerable<SelectListItem>)ViewBag.ViowodeshipList, new { @class="form-control"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Street)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Street)
            @Html.ValidationMessageFor(model => model.Street)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HouseNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HouseNumber)
            @Html.ValidationMessageFor(model => model.HouseNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApartmentNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApartmentNumber)
            @Html.ValidationMessageFor(model => model.ApartmentNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Directions)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Directions, new { @rows = 5 })
            @Html.ValidationMessageFor(model => model.Directions)
        </div>
        <p>
            <text style="color:red">*</text>Wymagane
        </p>
        <p>
            <input type="submit" value="Utwórz" />
        </p>
        
      

    </fieldset>
}

<ul id="button">
   <li> @Html.ActionLink("<< Wróć", "Index")</li>
</ul>


