@model EventDay.Models.Event

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Event</legend>
    
   <div class="display-label">Profilówka:</div>
    <div class="display-field">
        <script></script>
        <img src="@Url.Content("~/Content/Uploads/" + @Html.DisplayFor(model => model.ProfileImage))" alt="brak"/>
    </div>

   <div class="display-label">Kategoria:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>

    <div class="display-label">Tytuł:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Start:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateBegin)
        <span> </span>
        @Html.DisplayFor(model => model.HourBegin)
    </div>
    <div class="display-label">Meta:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEnd)
        <span> </span>
        @Html.DisplayFor(model => model.HourEnd)
    </div>

    <div class="display-label">Rekrutacja:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEnd)
        <span> </span>
        @Html.DisplayFor(model => model.HourEnd)
      <span> - </span>
        @Html.DisplayFor(model => model.DateEnd)
        <span> </span>
        @Html.DisplayFor(model => model.HourEnd)
    </div>
    <div class="display-field">       
        <span>tu zegar odliczajacy czas</span>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecruitmentId)
    </div>
   

    <div class="display-label">Opis:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Lokalizacja:</div>
    <div class="display-label">Miasto:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>
    <div class="display-label">Województwo:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Voivoweship )
    </div>
    <div class="display-label">Ulica:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>
        <div class="display-label">Numer Domu:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HouseNumber)
    </div>
    <div class="display-label">Numer lokalu:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApartmentNumber)
    </div>
    <div class="display-label">Kod pocztowy:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZipCode)
    </div>
    <div class="display-label">Jak dojechać:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Directions)
    </div>

     <div class="display-label">Masz wątpliwości?</div>
     <div class="display-label">Telefon kontaktowy:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumber)
    </div>
     <div class="display-label">Email:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactEmail)
    </div>
    <div class="display-label">Www:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">Wstęp:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">Ilość miejsc:</div>
    <div class="display-field">
       <span>tu dostępne /</span>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacity)
    </div>

    <div class="display-label">Regulamin:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">Data publikacji:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">Autor publikacji:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>
     
  </fieldset>
       
<ul id="button">
    <li>@Html.ActionLink("Edytuj", "Edit", new { id=Model.EventId }) </li>
    <li>@Html.ActionLink("<< Wróć", "Index")</li>
</ul>
