@model EventDay.Models.Event

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Event</legend>
    
   <div class="detale">
    <dl>
         <dt>Profilówka: </dt>
            <dd>
              <script></script>
             <img src="@Url.Content("~/Content/Uploads/" + @Html.DisplayFor(model => model.ProfileImage))" alt="brak"/>
          </dd>

        <dt>Kategoria: </dt>
            <dd>
            @Html.DisplayFor(model => model.Category.Name)
            </dd>

        <dt>Tytuł: </dt>
            <dd>
              @Html.DisplayFor(model => model.Title)
            </dd>

        <dt>Start: </dt>
            <dd>
                @Html.DisplayFor(model => model.DateBegin)
                <span> </span>
                @Html.DisplayFor(model => model.HourBegin)
            </dd>
      
        <dt>Meta: </dt>
             <dd>
                @Html.DisplayFor(model => model.DateEnd)
                <span> </span>
                @Html.DisplayFor(model => model.HourEnd)
            </dd>

        <dt>Rekrutacja: </dt>
            <dd>
                 @Html.DisplayFor(model => model.DateEnd)
                    <span> </span>
                @Html.DisplayFor(model => model.HourEnd)
                    <span> - </span>
                @Html.DisplayFor(model => model.DateEnd)
                    <span> </span>
                   @Html.DisplayFor(model => model.HourEnd)
            </dd>
        
       <!-- <span>tu zegar odliczajacy czas</span>-->
  
      <dt>Dostępność: </dt>
           <dd>
             @Html.DisplayFor(model => model.RecruitmentId)
           </dd>
   

      <dt>Opis: </dt>
           <dd>
             @Html.DisplayFor(model => model.Description)
           </dd>
           
        <p>LOKALIZACJA:</p>
        <dt>Miejscowość: </dt>
            <dd>
               @Html.DisplayFor(model => model.City)
            </dd>
              
        <dt>Kod pocztowy: </dt>
            <dd>
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
        
        
        <dt>Województwo: </dt>
            <dd>
                @Html.DisplayFor(model => model.Voivoweship )
            </dd>
      
        <dt>Ulica: </dt>
            <dd>
              @Html.DisplayFor(model => model.Street)
            </dd>
         
        <dt>Numer Domu: </dt>
            <dd>
               @Html.DisplayFor(model => model.HouseNumber)
            </dd>
        
        <dt>Numer lokalu: </dt>
            <dd>
            @Html.DisplayFor(model => model.ApartmentNumber)
            </dd>

        <dt>Jak dojechać: </dt>
            <dd>
                @Html.DisplayFor(model => model.Directions)
            </dd>

     <p>INFO DODATKOWE:</p>
       <dt>Telefon kontaktowy: </dt>
            <dd>
             @Html.DisplayFor(model => model.ContactNumber)
            </dd>
      
         <dt>Email: </dt>
             <dd>
                @Html.DisplayFor(model => model.ContactEmail)
            </dd>
      
        <dt>Www: </dt>
            <dd>
                 @Html.DisplayFor(model => model.Website)
            </dd>

         <dt>Cena wstępu: </dt>
            <dd>
             @Html.DisplayFor(model => model.Price)
            </dd>

        <dt>Ilość miejsc: </dt>
            <dd>
                @Html.DisplayFor(model => model.Capacity)
            </dd>

      <dt>Regulamin: </dt>
            <dd>
             @Html.DisplayFor(model => model.Price)
            </dd>

      <dt>Data publikacji: </dt>
                <dd>
                @Html.DisplayFor(model => model.DateCreated)
             </dd>

      <dt>Autor publikacji: </dt>
            <dd>
        @Html.DisplayFor(model => model.Username)
            </dd>
   </dl>  

    </div>
     
  </fieldset>
       
<ul id="button">
    <li>@Html.ActionLink("Edytuj", "Edit", new { id=Model.EventId }) </li>
    <li>@Html.ActionLink("<< Wróć", "Index")</li>
</ul>
