////////////////NIEUŻYWANE///////////////////////

@model IEnumerable<EventDay.Models.Event>

<p>
    @Html.ActionLink("Utwórz event", "Create")
</p>
<p>
    @Html.ActionLink("Wyświetl utworzone eventy", "Index", new { searching = "created" })
</p>
<p>
    @Html.ActionLink("Wyświetl eventy, w których uczestniczysz", "Index", new { searching = "joined" })
</p>
<table>
    <tr>
        <th>
            Kategoria
        </th>
        <th>
            Tytuł
        </th>
         <th>
            Data wydarzenia
        </th>
        <th>
           Miasto
        </th>
        <th>Lokalizacja</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locality)
        </td>
        <td>
            @if (String.Compare(ViewBag.Type,"created",false) == 0) {
                @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) 
                <text> | </text>
                @Html.ActionLink("Details", "Details", new { id=item.EventId }) 
                <text> | </text>
                @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
            } else {
                @Html.ActionLink("Rezygnuj z uczestnictwa", "LeafeEvent", new { id=item.EventId })
            }
        </td>
    </tr>
}

</table>
