@model IEnumerable<EventDay.Models.Event>


<ul class="list">

   <li> @Html.ActionLink("Utwórz", "Create")</li>

   <li> @Html.ActionLink("Utworzone", "Index", new { searching = "created" })</li>

   <li> @Html.ActionLink("Uczestniczysz", "Index", new { searching = "joined" })</li>
   <li> @Html.ActionLink("Kalendarz", "Index", "UserOptions")</li>
</ul>

<h2>@ViewBag.Info</h2>
<div class="table-responsive">
<table class="table table-hover ">
    <thead>
        <tr>
        <th>
            Kategoria
        </th>
        <th>
            Tytuł
        </th>
         <th>
            Data rozpoczęcia
        </th>
        <th>
            Data zakończenia
        </th>
        <th>
           Miasto
        </th>
  <th></th>
    </tr>
</thead>
       <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.ActionLink(item.Title, "Details", "Events", new { id= item.EventId },null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
     
        <td>
            @if (String.Compare(ViewBag.Type,"created",false) == 0) {
                 <a  href="@Url.Action("Edit", new { id = item.EventId })" style="margin-right:10px;"><img class="pencil" src="@Url.Content("~/Content/pencil.png")" alt="Edytuj" height="20px" width="20px" /></a>
            
                  <a  href="@Url.Action("Delete", new { id = item.EventId })"><img class="trash" src="@Url.Content("~/Content/trash.png")" alt="Usuń" height="20px" width="20px" /></a>
            } else {
                @Html.ActionLink("Rezygnuj z uczestnictwa", "LeafeEvent", new { id=item.EventId })
            }
        </td>
    </tr>
}
   </tbody>
</table>
</div>