@model IEnumerable<EventDay.Models.Message>

@{
    ViewBag.Title = "Wiadomości " + ViewBag.TypeBox;
}

<h2>@ViewBag.Title</h2>
<ul class="list">
    <li>@Html.ActionLink("Odebrane", "Index", new { box = "received" })</li>
    <li>@Html.ActionLink("Wysłane", "Index", new { box = "sent" })</li>
    <li>@Html.ActionLink("Nowa wiadomość", "NewMessage")</li>
</ul>

<div id="messageBoard">
    @if (String.Compare(ViewBag.TypeBox,"odebrane",false) == 0) { @Html.Partial("~/Views/Message/_ReceivedMessagePartial.cshtml"); } else { @Html.Partial("~/Views/Message/_SentMessagePartial.cshtml"); }
</div>