@model EventDay.Models.Message

@{
    ViewBag.Title = "Wiadomość";
}

<h2>@Model.Title</h2>
<p class="date">Wysłane: @Model.SendDate</p>
<p class="messageUsers">Od @Model.FromUser do @Model.ToUser</p>
<p class="messageText">@Model.MessageText</p>
