@model EventDay.Models.Message

@{
    ViewBag.Title = "Nowa wiadomość";
}

<h2>Nowa wiadomość</h2>

@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Wypełnij pola</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ToUser)
            @Html.ValidationMessageFor(model => model.ToUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MessageText)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.MessageText)
            @Html.ValidationMessageFor(model => model.MessageText)
        </div>

        <p>
              <button type="submit" class="btn btn-default btn-sm">Wyślij</button>
        </p>
    </fieldset>
}

<div class="UserContactBox">
    <div>
    <h3>Kontakty</h3>
    <ul>
    @foreach (var item in ViewBag.Contacts)
    {
        <li>@item</li>
    }
    </ul>
    </div>
</div>