@model EventDay.Models.EventHelper

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Event</legend>

   <div class="display-label">Kategoria:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Category.Name)
    </div>

    <div class="display-label">Tytuł:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Title)
    </div>

    <div class="display-label">Start:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.DateBegin)
        <span> </span>
        @Html.DisplayFor(model => model.Event.HourBegin)
    </div>
    <div class="display-label">Meta:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.DateEnd)
        <span> </span>
        @Html.DisplayFor(model => model.Event.HourEnd)
    </div>

    <div class="display-label">Rekrutacja:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.DateEnd)
        <span> </span>
        @Html.DisplayFor(model => model.Event.HourEnd)
      <span> - </span>
        @Html.DisplayFor(model => model.Event.DateEnd)
        <span> </span>
        @Html.DisplayFor(model => model.Event.HourEnd)
    </div>
    <div class="display-field">       
        <span>tu zegar odliczajacy czas</span>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.RecruitmentId)
    </div>
   

    <div class="display-label">Opis:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Description)
    </div>

    <div class="display-label">Lokalizacja:</div>
    <div class="display-label">Miasto:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.City)
    </div>
    <div class="display-label">Województwo:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Voivoweship )
    </div>
    <div class="display-label">Ulica:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Street)
    </div>
        <div class="display-label">Numer Domu:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.HouseNumber)
    </div>
    <div class="display-label">Numer lokalu:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.ApartmentNumber)
    </div>
    <div class="display-label">Kod pocztowy:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.ZipCode)
    </div>
    <div class="display-label">Jak dojechać:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Directions)
    </div>

     <div class="display-label">Masz wątpliwości?</div>
     <div class="display-label">Telefon kontaktowy:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.ContactNumber)
    </div>
     <div class="display-label">Email:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.ContactEmail)
    </div>
    <div class="display-label">Www:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Website)
    </div>

    <div class="display-label">Wstęp:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Price)
    </div>

    <div class="display-label">Ilość miejsc:</div>
    <div class="display-field">
       <span>tu dostępne /</span>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Capacity)
    </div>

    <div class="display-label">Regulamin:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Price)
    </div>

    <div class="display-label">Data publikacji:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.DateCreated)
    </div>

    <div class="display-label">Autor publikacji:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Username)
    </div>
     

     <ul id="button">
        <li> @Html.ActionLink("DOŁĄCZ DO WYDARZENIA", "JoinEvent", "Events",new {id = Model.EventId},null)</li>

   
       <li>@Html.ActionLink("DODAJ KOMENTARZ", "AddComment", "Comments",new {id = Model.EventId},null)   </li> 
        <!-- controlname, actionmethod,null bo do innego widoku, jak bez null to idzie do BOOKS, zla metoda-->
   
    </ul>

    <div id="sump"> @{Html.RenderAction("SumPositive", "Comments", new { id = Model.EventId });}</div>
   
    <div id="sumn">@{Html.RenderAction("SumNegative", "Comments", new { id = Model.EventId });}</div>

    <div>@Html.ActionLink("Edit", "Edit", new { id=Model.EventId }) </div>

     @Html.Partial("EventComments", Model.Comments)
</fieldset>
