@model EventDay.Models.EventHelper

@{
    ViewBag.Title = "Szczegóły";
}

 <fieldset>
    <legend>Event</legend>
     <p class="joinEventError">@ViewBag.ErrorMessage</p>
    
   <div class="detale">
     @Html.Partial("~/Views/YourEvents/_DetailsPartial.cshtml", Model.Event)
    </div>
     


    <div>
     <ul id="button">
           @if (String.Compare(Model.Event.Username,User.Identity.Name,true) != 0){
        <li> @Html.ActionLink("Dołącz do wydarzenia", "JoinEvent", "Events",new {id = Model.EventId},null)</li>

   }
       <li>@Html.ActionLink("Dodaj komentarz", "AddComment", "Comments",new {id = Model.EventId},null)   </li> 

         @if (String.Compare(Model.Event.Username, User.Identity.Name, true) == 0 || User.IsInRole("admin"))
         {  
             <li>@Html.ActionLink("Pokaż listę gości", "ShowGuests", new {id = Model.EventId}, null) </li> 
              <li>@Html.ActionLink("Edytuj", "Edit","YourEvents", new { id=Model.EventId },null) </li>
         }
    </ul>
</div>

    <div id="sump"> @{Html.RenderAction("SumPositive", "Comments", new { id = Model.EventId });}</div>
   
    <div id="sumn">@{Html.RenderAction("SumNegative", "Comments", new { id = Model.EventId });}</div>

     @Html.Partial("EventComments", Model.Comments)
</fieldset>
<!--
|| Page.User.IsInRole("admin") -->