@model PagedList.IPagedList<EventDay.Models.Event>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <!--ten widok dotyczy modelu Category -->
    <!-- IEnumerable pozwala zmienic potem typ na dowolny-->
    @{
        ViewBag.Title = "Index";
    }

    <div class="wyszukiwarka">
        @using (Html.BeginForm("Index", "Events", System.Web.Mvc.FormMethod.Get))
        {
            <p>Kategoria:</p>
            <p> @Html.DropDownList("eventCategory", "All")</p>
            <p>Miejscowość: </p>
            <p>@Html.TextBox("Search", ViewBag.CurrentFilter as string) </p>
            <p><input type="submit" value="Wyszukaj" /></p>
        }
    </div>

 <!--@Html.ActionLink("Najnowsze", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })-->


    @foreach (var item in Model)
    {
        <div class="event">
            <a href="@Url.Action("Details", new { id = item.EventId })">
                <dl>
                    <dt>Tytuł</dt> 
                    <dd>@Html.DisplayFor(modelItem => item.Title)</dd>
                   <dt> Data początku wydarzenia</dt> 
                    <dd>@Html.DisplayFor(modelItem => item.DateBegin)</dd>
                   <dt> Data końca wydarzenia</dt> 
                    <dd>@Html.DisplayFor(modelItem => item.DateEnd)</dd>
                  <dt>  Miejscowość</dt> 
                    <dd>@Html.DisplayFor(modelItem => item.City)</dd>

               </dl>
            </a>
        </div>
    }
<br />
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions {LinkToPreviousPageFormat = String.Format("<< Poprzednia"), LinkToNextPageFormat = String.Format("Następna >>") })
 