@{
    ViewBag.Title = "Profil użytkownika";
}

<h2>Profil użytkownika @User.Identity.Name</h2>

@Html.ActionLink("Skrzynka pocztowa","Index","Message")
<br />
@Html.ActionLink("Usuń konto", "Delete", new { name = @User.Identity.Name})
<br />
@Html.ActionLink("Pokaż szczegóły profilu", "Details", new { name = @User.Identity.Name})