@{
    ViewBag.Title = "Profil użytkownika";
}

<h2>Profil użytkownika: @User.Identity.Name</h2>
<ul class="list">
    <li>@Html.ActionLink("Skrzynka pocztowa","Index","Message")</li>

<li>@Html.ActionLink("Usuń konto", "Delete", new { name = @User.Identity.Name})</li>

<li>@Html.ActionLink("Pokaż szczegóły profilu", "Details", new { name = @User.Identity.Name})</li>

<li>@Html.ActionLink("Kontakty", "Contacts")</li>
<li>@Html.ActionLink("Zmień hasło", "ChangePassword","Account", new { name=@User.Identity.Name},null)</li>
</ul>